@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: rgb(243, 253, 178);
  --input-backgroundColor: #00bfff;
}

body {
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
}

#root {
  font-family: "Playwrite GB S";
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 3px solid #000;
}

.subtitle span {
  color: #ffaa00;
}

.hero-style {
  width: 100%;
  background-color: #a6f8ff;
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}

.form input {
  width: 200px;
  font-family: "Playwrite GB S";
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--input-backgroundColor);
  height: 40px;
  outline: none;
  box-shadow: 3px 2px 10px -1px;
  border-radius: 20px;
}

.form .text-style {
  text-transform: none;
  width: 175px;
  font-size: 2px;
  font-weight: normal;
  height: 30px;
  border-radius: 0;
  box-shadow: none;
  background-color: #fff;
}